.Landingpage{
    width:70%;
    height: 95vh;
    background-color: #0E101B;
    margin-top: 75px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.Heading{
    margin: 0px;
    font-size: 115px;
    color: #F3D1FF;
}

.Heading-Developer{
    margin: 0px;
    font-size: 115px;
    color: #B8336A;
}

.Body-Text{
    margin: 0px;
    font-size: 32px;
    color: #F3D1FF;
}

.SoC-Link{
    color: #F3D1FF;
    text-decoration: none;
    transition:0.2s;
    border-bottom: 1px solid #F3D1FF;
    
}

.SoC-Link:hover{   
    padding-bottom: 0.5%;
    color:#B8336A;
    border-bottom: 1px solid #B8336A;
    background-color: #F3D1FF;
    vertical-align: top;
}

