.Landingpage{
    width:85%;
    height: 95vh;
    background-color: #0E101B;
    margin-top: var(--Header-height);
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 20vw;
    padding-top: 2%;
}

.Heading{
    margin: 0px;
    font-size: 6vw;
    color: #F3D1FF;
}

.Heading-Developer{
    margin: 0px;
    font-size: 6vw;
    color: #B8336A;
}

.Body-Text{
    padding-top: 2%;
    font-size: 3vw;
    color: #F3D1FF;
}

.SoC-Link{
    color: #F3D1FF;
    text-decoration: none;
    transition:0.2s;
    border-bottom: 1px solid #F3D1FF;
    
}

.SoC-Link:hover{   
    padding-bottom: 0.3%;
    color:#B8336A;
    border-bottom: 1px solid #B8336A;
}

