.Homebutton{
    margin-left: var(--Navbar-left-margin);
    background: none;
    color: #ff6ece;
    border-radius: 15px;
    position:relative;
    left:15%;
    transition: 0.3s;
    width: 70%;
    height:100%;
    border: 2px solid #ff6ece;
    background-color: var(--bg-color);
    cursor: pointer;
    padding: 0;
    margin-bottom: 30%;
}

.Homebutton:hover{
    background-color: #ff6ece;
    color: var(--bg-color);
}