.Homebutton{
    margin-left: var(--Navbar-left-margin);
    background: none;
    color: #B8336A;
    border-radius: 10px;
    font-family: inherit;
    font-size: 1.5vw;
    top: 0;
    width: 65%;
    position: relative;
    transition: 0.3s;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #B8336A;
    background-color: #0e101bc7;
    cursor: pointer;
    text-align: center;
}

.Homebutton:hover{
    background-color: #B8336A;
    color: #0E101B;
}