:root{
  --Navbar-container-width: 20vw;
  --Header-height: 10vh;
  --Navbar-left-margin: 18%;
 }


.App{
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Nixie One";
  
  text-decoration: none;
}

.Main{
 background-color: #0b0d16;
 display: flex;
 flex-direction: row;
 width: 100%;
 height: 100%;
}

.Navigate-Menu{
  background-color: #0b0d16;
  position: fixed;
  left: 0;
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
}

.Navigate-Menu:hover .leftsemiCircle-container{
  transform: translate(-470%)
}

.Content-container{
  background-color: #0b0d16;
  height:100%;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin-left: var(--Navbar-container-width);
}

.Line-container{
  background-color: #0b0d16;
  position: fixed;
  right: 0;
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
}

.Line-container:hover .semiCircle-container{
  transform: translate(-130%);
}

.Left-arrow{
  position: absolute;
  left: 10%;
  color:#b8336ac1;
  top: 47.5%;
  transition: 0.5s;
  font-size: 2vw;
  margin: none;
  animation: pulse 2.5s infinite, fadein 0.5s 1;
  font-weight: bold;
}

.Navigate-Menu:hover .Left-arrow{
  opacity: 0%;
  animation: fadeout 0.4s 1
}

.Right-arrow{
  position: absolute;
  right: 10%;
  color: #b8336ac1;
  top: 47.5%;
  transition: 0.5s;
  font-size: 2vw;
  margin: none;
  text-align: right;
  animation: pulse 3s infinite, fadein 0.4s 1;
  font-weight: bold;
}

@keyframes pulse{
  0% { opacity: 60%; }
  50% { opacity: 100%; }
  100% { opacity: 60%; }
}

@keyframes fadeout{
  0% {opacity: 75%;}
  100% {opacity: 0%;}
}

@keyframes fadein{
  0% {opacity: 0%;}
  100% {opacity: 75%;}
}

.Line-container:hover .Right-arrow{
  opacity: 0%;
  animation: fadeout 0.5s 1;
}




/* Phone Sizing */
@media only screen and (max-width: 600px) {
  :root{
    --Navbar-container-width: 15vw;
    --Header-height: 10vh;
  }

  .Main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Line-container{
    display:none;
    width: 0vw;
    height: 0vh;
  }

  .Content-container{
    width: 85vw;
    margin-left: 0%;
  }

  .Navigate-Menu{
    display:none;
    width: 0vw;
    height: 0vh;
  }

}