:root{
  --Navbar-container-width: 20vw;
  --Header-height: 10vh;
  --Navbar-left-margin: 18%;
 }


.App{
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Nixie One";
  
  text-decoration: none;
}

.Main{
 background-color: #0b0d16;
 display: flex;
 flex-direction: row;
 width: 100%;
 height: 100%;
}

.Navbar-container{
  background-color: #0b0d16;
  position: fixed;
  left: 0;
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
}

.Navbar-container:hover .leftsemiCircle-container{
  transform: translate(-470%)
}

.Content-container{
  background-color: #0b0d16;
  height:100%;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin-left: var(--Navbar-container-width);
}

.Line-container{
  background-color: #0b0d16;
  position: fixed;
  right: 0;
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
}

.Line-container:hover .semiCircle-container{
  transform: translate(-130%);
}

/* Phone Sizing */
@media only screen and (max-width: 600px) {
  :root{
    --Navbar-container-width: 15vw;
    --Header-height: 3vh;
  }

  .Line-container{
    display:none;
    width: 0vw;
    height: 0vh;
  }

  .Content-container{
    width: 85vw;
    padding-right: 10%;
  }


  .Navbar-container{
    background-color: #0b0d16;
    height: 60vh;
    width: var(--Navbar-container-width);
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-evenly
  }

}

