
.App{
  background-color: grey;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Nixie One";
  text-decoration: none;
}

.Main{
 background-color: white;
 display: flex;
 flex-direction: row;
 width: 100%;
 height: 100%;
}

.Navbar-container{
  background-color: #0E101B;
  height: 100vh;
  width: 10%;
  display: flex;
  padding-top: 75px;
  position: fixed;
}

.Content-container{
  background-color: #0E101B;
  height:100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


