.PortfolioPage{
    width: 85%;
    height: 90vh;
    background-color: #0b0d16;
    margin-top: 45vh;
    margin-left:10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2%;
}

.Subheading{
    margin: 0px;
    margin-top: 3%;
    font-size: 5vw;
    color: #B8336A;
    font-weight: lighter;
}

.Portfolio-container{
    display: flex; 
    flex-direction: column;
    /* border: 1px solid orange;  */
    align-items: center;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 100%;
}

.Portfolio-card-container{
    width:100%;
    height:50%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

