.Navbutton{
    width:50px;
    height:50px;
    border-radius: 15px;
    transition: 0.3s;
    margin-left: 12.5px;
    border: 3px solid #B8336A;
    color: #B8336A;
    background: transparent;
    font-family: inherit;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    white-space:nowrap;
}

.Navbutton:hover {
    background-color: #B8336A;
    color: #0E101B;
}

/* ABOUT ME */
.AM::after {
    content: "AM";
    }

.Navbar:hover .AM::after {
    content: "ABOUT ME";
    }

/* PORTFOLIO */
.PF::after {
    content: "PF";
    }

.Navbar:hover .PF::after {
    content: "PORTFOLIO";
    }

/* EXPERIENCE */
.EX::after {
    content: "EX";
    }

.Navbar:hover .EX::after {
    content: "EXPERIENCE";
    }

/* CONTACT ME */
.CI::after {
    content: "CI";
    }

.Navbar:hover .CI::after {
    content: "CONTACT INFO";
    }

/* LINKED IN */
.LI::after {
    content: "LI";
    }

.Navbar:hover .LI::after {
    content: "LINKEDIN";
    }

/* TWITTER */
.TW::after {
    content: "TW";
    }

.Navbar:hover .TW::after {
    content: "TWITTER";
    }

/* GITHUB */
.GH::after {
    content: "GH";
    }

.Navbar:hover .GH::after {
    content: "GITHUB";
    }

/* INSTAGRAM */
.IG::after {
    content: "IG";
    }

.Navbar:hover .IG::after {
    content: "INSTAGRAM";
    }