.Email-link{
    transition: 0.2s;
    margin-bottom: 0%;
    margin-top: 0%;
    text-decoration: none;
    color:#F3D1FF;
    border-bottom: 1px solid #F3D1FF;
}

.Email-link:hover{
    color:#ff6ece;
    border-bottom: 1px solid #ff6ece;
}