.Portfolio-card{
    position: relative;
    width: 30%;
    display: flex;
    border-radius: 30px;
    height:calc(100% -16px)
}

.card-overlay{
    position: absolute;
    border: 2px solid #B8336A;
    width: 99%;
    height:99%;
    background-color: #B8336A;
    opacity: 0%;
    transition: 0.4s;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 100%;
    z-index: 1;
}

.card-overlay:hover{
    opacity: 85%;
}

.Icon-button{
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 15px;
    transition: 0.2s;
    border: 1px solid #0b0d16;
    background-color: #B8336A;
    color:#0b0d16;
    cursor: pointer;
}

.Icon-button:hover{
    background-color:#0b0d16;
    color: #B8336A;
}

.Github-icon:hover{
    cursor: pointer;
}
    
.Link-icon:hover{
    cursor: pointer;   
}

.Portfolio-image{
    position: relative;
    width:100%;
    border-radius: 30px;
    /* border: 1px solid yellow; */
    border: 2px solid #B8336A;
    z-index: 0;
    opacity: 80%;
}
