.Portfolio-card{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    align-items: center;
}

.Portfolio-card:before{
    content: "";
    display: block;
    padding-top: 100%;
}

.card-overlay{
    position: absolute;
    border: 2px solid #ff6ece;
    width: 99%;
    height:99%;
    background-color: #ff6ece;
    opacity: 0%;
    transition: 0.4s;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5vw;
    z-index: 1;
    text-align: center;
    font-weight: bold;
}

.card-overlay:hover{
    opacity: 85%;
}

.icon-container{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.Icon-button{
    margin-top: 2%;
    margin-bottom: 0%;
    border-radius: 15px;
    transition: 0.2s;
    border: 1px solid var(--bg-color);
    background-color: #ff6ece;
    color: var(--bg-color);
    cursor: pointer;
}

.Icon-button:hover{
    background-color: var(--bg-color);
    color: #ff6ece;
}

.Github-icon:hover{
    cursor: pointer;
}
    
.Link-icon:hover{
    cursor: pointer;   
}

.Portfolio-image{
    position: relative;
    width:100%;
    border-radius: 30px;
    /* border: 1px solid yellow; */
    border: 2px solid #ff6ece;
    z-index: 0;
    opacity: 80%;
    background-color: #ff6ece;
}

/* Phone Sizing */
@media only screen and (max-width: 600px) {
    .Portfolio-card{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        border-radius: 30px;
    }
    
    .Portfolio-card:before{
        content: "";
        display: block;
        padding-top: 100%;
    }
    
    .card-overlay{
        position: absolute;
        border: 2px solid #ff6ece;
        width: 99%;
        height:99%;
        background-color: #ff6ece;
        opacity: 0%;
        transition: 0.4s;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 2vw;
        z-index: 1;
        text-align: center;
        font-weight: bold;
    }
    
    .card-overlay:hover{
        opacity: 85%;
    }

    .icon-container{
        width: 80%;
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
    }
    
    .Icon-button{
        margin-top: 2%;
        margin-bottom: 2%;
        border-radius: 15px;
        transition: 0.2s;
        border: 1px solid var(--bg-color);
        background-color: #ff6ece;
        color:var(--bg-color);
        cursor: pointer;
    }
    
    .Icon-button:hover{
        background-color:var(--bg-color);
        color: #ff6ece;
    }
    
    .Github-icon:hover{
        cursor: pointer;
    }
        
    .Link-icon:hover{
        cursor: pointer;   
    }
    
    .Portfolio-image{
        position: relative;
        width:100%;
        border-radius: 30px;
        /* border: 1px solid yellow; */
        border: 2px solid #ff6ece;
        z-index: 0;
        opacity: 80%;
        background-color: #ff6ece;
    }
}